@media (max-width: 1040px) {
  .sidebar {
    display: none;
  }
}

@media (max-width: 1600px) {
  .sidebar {
    width: 300px;
  }
}

.sidebar {
  background-color: white;
  width: 300px;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  font-family: "Quicksand", sans-serif;
}

@media (max-width: 1600px) {
  .sidebar .sidebar-name span {
    font-size: 50px;
  }
}

@media (max-width: 1600px) {
  .sidebar .sidebar-name .back {
    font-size: 18px;
  }
}

.sidebar .sidebar-name {
  width: 100%;
  float: left;
  margin-top: -9px;
}

.sidebar .sidebar-name .back {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  margin-top: 5px;
  color: black;
}

.sidebar .sidebar-name .grey {
  left: 17%;
  font-size: 50px;
  color: rgb(233, 233, 233);
}

.sidebar .sidebar-name span {
  position: relative;
  font-style: italic;
  font-size: 40px;
  font-family: "Kristi", cursive;
  line-height: 1;
  display: block;
}

.sidebar-image {
  width: 100px;
  margin-top: 20px;
  margin-left: 100px;
  border: 3px solid bisque;
  border-radius: 50%;
}

.sidebar-work {
  margin-top: -8px;
  font-size: 12px;
  text-align: center;
  line-height: 0.3;
}

.sidebar-buttons {
  padding: 85px;
}

.sideButton {
  text-align: center;
  padding: 0px;
  margin-block: -5px;
  font-size: 15px;
}

.sideButton a {
  color: black;
  text-decoration: none;
}

.button a:hover {
  color: #f8cba6;
}

.sidebar-icons {
  display: inline;
  padding-left: 40px;
}

.icon {
  width: 25px;
  padding: 5px;
  margin-top: 40px;
}

.sidebar-footer {
  text-align: center;
  line-height: 0.8;
}
